[submodule "packages/core"]
	path = packages/core
	url = git@github.com:treeseed-ai/core.git
[submodule "packages/sdk"]
	path = packages/sdk
	url = git@github.com:treeseed-ai/sdk.git
[submodule "packages/cli"]
	path = packages/cli
	url = git@github.com:treeseed-ai/cli.git
[submodule "packages/agent"]
	path = packages/agent
	url = git@github.com:treeseed-ai/agent.git

