[submodule "packages/core"]
	path = packages/core
	url = git@github.com:treeseed-ai/core.git
[submodule "packages/sdk"]
	path = packages/sdk
	url = git@github.com:treeseed-ai/sdk.git
[submodule "packages/cli"]
	path = packages/cli
	url = git@github.com:treeseed-ai/cli.git
[submodule "packages/agent"]
	path = packages/agent
	url = git@github.com:treeseed-ai/agent.git
[submodule "starters/research"]
	path = starters/research
	url = git@github.com:treeseed-templates/research.git
[submodule "starters/engineering"]
	path = starters/engineering
	url = git@github.com:treeseed-templates/engineering.git
[submodule "starters/information-hub"]
	path = starters/information-hub
	url = git@github.com:treeseed-templates/information-hub.git
[submodule "packages/treedx"]
	path = packages/treedx
	url = git@github.com:treeseed-ai/treedx.git
